fastapi==0.104.1
uvicorn==0.24.0
mediapipe
tensorflow
opencv-python
numpy
python-multipart
mysql-connector-python
sqlalchemy==2.0.23
python-jose[cryptography]
passlib[bcrypt]
python-dotenv==1.0.0
pydantic==2.5.1
pydantic[email]
python-multipart
alembic==1.12.1
jose
psycopg2-binary==2.9.9
aiofiles==23.2.1
Pillow==10.1.0